.Form h1{
    text-align:center;
}
h2{
    font-weight:600;
}
form{
    background-color: var(--clr-secondary-bg);
    color:var(--clr-primary);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1em auto;
    border-radius:20px;
    padding:1em 0;
    width:max(40em, 60vw);
    
}

.info-div,.btn{
    margin:1em 0;
    width:70%;
    padding:2em;
    border:2px solid gray;
    border-radius:20px;
}
.info-div label{
    
    display:block;
    margin-bottom:.1em;
    margin-left: .5em;
}
.gender-div label, .physically-active-div label{
    display:inline-block;
}

.gender-div input[type="radio"], .physically-active-div input[type="radio"]{
    width:1em;
}
label[for="gender_male"], label[for="active"]{
    margin-right:2em;
}
.info-div input,select{
    margin-bottom:.8em;
    padding:.5em .75em;
    border-radius:100vw;
    background-color: transparent;
    color: var(--clr-primary);
    border:var(--clr-primary) 2px solid;
    opacity:.5;
    font-family: var(--font-family);
    outline:none;
    width:100%;
    transition: 500ms ease oapcity;

}
.info-div input:hover, select:hover,input:focus, select:focus{
    opacity:1;
}
input[type="date"]::-webkit-calendar-picker-indicator{
    cursor: pointer;
    opacity: 1;
    filter: invert(1);
    /* width:2em; */

}
input[type="number"]::-webkit-inner-spin-button{
    display: none;
}
option{
    background-color: var(--clr-secondary-bg);
}
.btn{
    background:transparent;
    padding:.5em;
    border-radius: 100vw;
    font-family: var(--font-family);
    font-size:1.2rem;
    font-weight:800;
    border:2px solid var(--clr-primary);
    color:var(--clr-primary);
    cursor:pointer;
    outline:none;
    transition:.5s ease-out;
    transition-property: color background-color;
}
.btn:hover{
    background:var(--clr-primary);
    color:var(--clr-secondary-bg)
}
