:root{
    --clr-bg : #212747 ;
    --clr-secondary-bg : #353F63;
    --clr-primary: beige;
    --clr-font :#4D81BC;
    --font-family :open sans;
    --linear-gradient : linear-gradient(#08B5B6, #0ECC9E)
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: var(--clr-bg);
    /* background: var(--linear-gradient); */
    font-family: var(--font-family);
    color : var(--clr-primary)
}